* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

progress{
  width: 50%;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#main img{
  margin: auto;
  max-width: 100%;
  max-height: 85%;
}

#main h4{
  margin: 20px;
}

#votes{
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.vote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ratio{
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (min-width: 768px){
  .vote{
    width: 50%;
    height: 100%;
  }

  #votes{
    height: 80%;
  }

  #ratio{
    width: 100%;
    height: 20%;
  }
}

@media (max-width: 767px){
  .vote{
    width: 100%;
    height: 40%;
  }

  #votes{
    height: 80%;
  }

  #ratio{
    width: 100%;
    height: 20%;
  }
}

/*BUTTON*/
.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

[class^="hvr-"] {
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p, [class^="hvr-"] {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #2098D1;
    text-decoration: none;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-color: #2098D1;
    color: white;
}

.hvr-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}